{% extends "layout.html" %}

{% block title %}
    Subscriptions
{% endblock %}

{% block main %}
{% if subs_count == 0 %}
    <h2>No Tables to turn yet ;)</h2>
    <button type="button" class="btn bg-info text-white" data-toggle="modal" data-target="#new_subscription_modal">
        New Subscription
    </button>
{% else %}    
    <div class="container">
        <h2>Week Table Subscriptions</h2><br>
        <button type="button" class="btn bg-info text-white" data-toggle="modal" data-target="#new_subscription_modal">
          New Subscription
        </button>
        <br><br>

        <div class="card-columns">
            {% for i in range(subs_count) %}
            <a href={{ url_for("table", table_id=subs[i]["table_id"]) }} class="stretch">
                <div class="card black borders_subscriptions">
                    <div class="card-body text-center">
                      <p class="card-text table_name">{{ subs[i]["table_name"] }}</p>
                      <p class="card-text">Admin: {{ subs[i]["username"] }}</p>
                      <p class="card-text">Participants: {{ subs[i]["member_count"] }}</p>
                    </div>
                </div>
            </a>  
            {% endfor %}
        </div>  
    </div>
{% endif %}    

<!-- new_subscription_modal -->
<div class="modal fade" id="new_subscription_modal" role="dialog">
    <div class="modal-dialog modal-lg">
    
        <!-- new_subscription_modal content-->
        <div class="modal-content table_bg">
            <div class="modal-header">
                <h4 class="modal-title">New Subscription</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div>
                    Enter 6-digit unique passcode for the table you want to susbcribe:
                </div>
                <br>
                <form action="/new_subscription" method="post">
                    <div>
                        <input type="text" class="form-control mb-2 mr-sm-2 black" placeholder="Passcode" name="passcode" required>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Susbcribe</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}  